@model IEnumerable<ManeExperience.Models.Events>



@{
    ViewData["Title"] = "SELU Events";
}

<h2>Current Events</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventCreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventInfo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventDetails)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventCreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDetails)
            </td>
            <td>

                @if (User?.Identity.IsAuthenticated == true)
                {
                    @:<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |;
                    @:<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>;
                }  
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
